/* Body.css */
.note-body {
  display: flex;
  flex: 1;
  height: calc(100vh - 50px);
  width: 100%;
}

.note-body textarea {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.1rem;
  padding: 12px;
  background-color: #fff;
  box-sizing: border-box;
}
