/* Container */
.note-body {
  display: flex;
  flex: 1;
  min-height: 0;
  background-color: #0A1E1D;
}

/* Quill container (scrollable) */
.note-body .ql-container {
  display: block;
  height: 100%;
  flex: 1;
  border: none;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #0A1E1D;
}

/* Editor */
.note-body .ql-editor {
  padding: 12px;
  font-size: 16px;
  line-height: 1.25;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  color: #54AD9B;
  font-family: 'Fira Code', Consolas, monospace;
  overflow-y: auto;
  max-height: 250px;
  background-color: #0A1E1D;
}

.note-body .ql-editor img {
  cursor: pointer;
  display: inline-block;   
  max-width: 100%;          
  box-sizing: border-box;
}

/* Prevent placeholder shift / extra padding when we do dash -> space*/
.note-body .ql-editor p {
  margin: 0;
}

.ql-clipboard {
  position: fixed;
  width: 0px;
}

.note-body .ql-editor ul,
.note-body .ql-editor ol {
  margin: 0;
  padding-left: 1.5em;
}

/* List indentation */
.note-body .ql-editor li.ql-indent-1 {
  margin-left: 1.5em;
}
.note-body .ql-editor li.ql-indent-2 {
  margin-left: 3em;
}
.note-body .ql-editor li.ql-indent-3 {
  margin-left: 4.5em;
}
.note-body .ql-editor li.ql-indent-4 {
  margin-left: 6em;
}
.note-body .ql-editor li.ql-indent-5 {
  margin-left: 7.5em;
}
.note-body .ql-editor li.ql-indent-6 {
  margin-left: 9em;
}
.note-body .ql-editor li.ql-indent-7 {
  margin-left: 10.5em;
}
.note-body .ql-editor li.ql-indent-8 {
  margin-left: 12em;
}
.note-body .ql-editor li.ql-indent-9 {
  margin-left: 13.5em;
}
.note-body .ql-editor li.ql-indent-10 {
  margin-left: 15em;
}
.note-body .ql-editor li.ql-indent-11 {
  margin-left: 16.5em;
}
.note-body .ql-editor li.ql-indent-12 {
  margin-left: 18em;
}