/* .note-body {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.note-body .ql-container {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.1rem;
  padding: 12px;
  background-color: #0A1E1D;
  color: #54AD9B;
  box-sizing: border-box;
  tab-size: 4;
  overflow-y: auto;
  min-height: 0;
}

.note-body .ql-container {
  border: none;
}

.note-body .ql-editor {
  padding: 0;
} */

.note-body {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  background-color: #0A1E1D;
}

/* Remove snow theme border */
.note-body .ql-container {
  border: none;
  flex: 1;
  display: flex;
}

/* editor */
.note-body .ql-editor {
  flex: 1;
  padding: 12px;
  font-size: 1.1rem;
  background-color: #0A1E1D;
  color: #54AD9B;
  box-sizing: border-box;
  overflow-y: auto;
  min-height: 100%;
  margin: 0;
  font-family: 'Fira Code', Consolas, monospace;
  font-size: 16px;
  line-height: .75;
}

/* Should prevent photo from blowing up text body layout */
.note-body .ql-editor img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

