html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0A1E1D;
}

.app-root > :not(.titleBarWrapper) {
  flex: 1;
  overflow: hidden;
}

.titleBarWrapper {
  display: flex;
}

.contentWrapper {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;
}

.contentWrapper > * {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
  width: 100%;
  flex-direction: column;
}
